body {
    margin: 0;
    padding: 0;
    background: #e67e22;
}
h2 {
    position: absolute;
    left: 45%;
    text-align: center;
}
.tabel {
    position: absolute;
    top: 20%;
    left: 45%;

}